@media only screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 15px;
  }
}

@keyframes header_anim {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
  }
}

.header__title {
  transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.stroke {
  text-shadow: black 0 0 2px;
}

h1 {
  color: #fff;
  font-size: 70px;
}

h2 {
  color: #fff;
  font-size: 25px;
}

.landing-bg {
  min-height: 100vh;
  background-color: green;
  background-image: url("bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cv-bg {
  background-color: #0079cf;
  background-image: url("bg_cv.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: 0.25rem;
}
